#--------------------------------------------------
# Répertoire : /
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

# Index :
RewriteRule ^index\.html$   ?page=home [L]

# Page connexion :
RewriteRule ^account/login$   ?page=log_in [L]

# Page registration :
RewriteRule ^account/registration$   ?page=registration [L]

# Page logout :
RewriteRule ^account/logout$   ?page=log_out [L]

# Page delete_account :
RewriteRule ^account/delete$   ?page=delete_account [L]

# Page users :
RewriteRule ^users$   /?page=list_users [L]

# Page new objective :
RewriteRule ^objective/new$   ?page=new_objective [L]

# Page current objective (page / id_member) :
RewriteRule ^current/objective/([0-9]*)$   ?page=current_obj&id=$1 [L]

# Page done objective (page / id_member) :
RewriteRule ^done/objective/([0-9]*)$   ?page=done_obj&id=$1 [L]

# Page add advice (page / id_member) :
RewriteRule ^add/advice/([0-9]*)$   ?page=add_advice&id=$1 [L]

# Page add advice (page / id_member) :
RewriteRule ^add/advice/([0-9]*)/([0-9]*)$   ?page=add_advice&id=$1&id_objective=$2 [L]

# Page modif objective (page / id_member / id_objective / action) :
RewriteRule ^current/objective/([0-9]*)/([0-9]*)/([a-z_]*)$   ?page=current_obj&id=$1&id_objective=$2&action=$3 [L]

# Page modif objective (page / id_member / id_objective / action) :
RewriteRule ^done/objective/([0-9]*)/([0-9]*)/([a-z_]*)$   ?page=done_obj&id=$1&id_objective=$2&action=$3 [L]

# Page current advice (page / id_member / id_objective) :
RewriteRule ^current/advices/([0-9]*)/([0-9]*)$   ?page=current_obj_advices&id=$1&id_objective=$2 [L]

# ErrorDocument 404 /erreur404.php

